## Input - Output Statements

### 1. input():
- Input function can be used to input data from user to directly in our required format.
- By default, it returns the user input in form of a string.

In [1]:
x = input("Enter value:")
type(x)

Enter value:10.5

str

#### Write a program to read 2 numbers from the keyboard and print sum

In [2]:
# By default it takes the input in string format
# So concatination takes place
# As we know that + operator concatinates two strings
# So it will treat these numbers as string
a = input("Enter the first number: ")
b = input("Enter the second number: ")
print("Sum: ",a+b)

Enter the first number: 10
Enter the second number: 5
Sum:  105

**Method 1**

In [9]:
# If we want input in other data type then we have to use type casting
# Here it will add two numbers 
# Because after taking input in string, we typecasted it in int
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print("Sum: ",a+b)

Enter the first number: 10
Enter the second number: 15
Sum:  25

**Method 2**
- Generally we do not prefer this method, as the readability of this method is less as compared to Method 1

In [5]:
print("Sum: ",int(input("Enter the first number: ")) + 
      int(input("Enter the second number: ")))

Enter the first number: 10
Enter the second number: 15
Sum:  25

- instead of int(), we use float() as well
- The drawback of this is that if we specified int() then we have to enter integer value only. For other types of values it will throw an error.

### 2. eval():
- eval function take a String and evaluate the Result.
- eval function takes int() and float() both the values as input.
- The main advantage of eval function is that, we can not give expression as a input to int() or float() function, but we can give it to eval() function.
- This function evaluates data type of data, whichever data we enter.

In [6]:
x = eval("10+20+30")
print(x)

60

In [7]:
x = eval(input("Enter expression"))
print(x)

Enter expression10+20+30/30**3
30.00111111111111

**Expression input to int() function**

In [10]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
print("Sum: ",a+b)

Enter the first number: 10+5

ValueError: invalid literal for int() with base 10: '10+5'

**Expression input to eval() function**

In [11]:
a = eval(input("Enter the first number: "))
b = eval(input("Enter the second number: "))
print("Sum: ",a+b)

Enter the first number: 10+5
Enter the second number: 15
Sum:  30

**Note:** eval() can evaluate the input to list, tuple, set, etc based the provided input.

In [12]:
l = eval(input("Enter tuple: "))
print(type(l))
print(l)

Enter tuple: (10,20,30,40)
<class 'tuple'>
(10, 20, 30, 40)

In [13]:
l = eval(input("Enter list: "))
print(type(l))
print(l)

Enter list: [1,2,3,4]
<class 'list'>
[1, 2, 3, 4]

### 3. Print()
- We can use print() function to display output.

#### 3.1 print() without any argument prints new line character

In [14]:
print("Hello World")
print() # Blank line
print("I love data science")

Hello World

I love data science

#### 3.2 Can print strings in different ways

In [15]:
string = "Hello World"
print(string)
print("Hello World")

Hello World
Hello World

In [16]:
# We can use escape characters also
print("Dear Sir,\n\tI am writting this to you regarding....")

Dear Sir,
	I am writting this to you regarding....

In [17]:
# We can use repetetion operator (*) in the string
print("Hello "*10)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [18]:
# We can use + operator for concatination
print("Hello " + "World ")

Hello World

#### 3.3 print() with end and sep attribute:

**3.3.1 print() with `end=' '` attribute:**
- The default value for end attribute is `\n`, which is nothing but new line character.

In [20]:
print("Hello",end='\t')
print("World")
print()  # Blank line
print("Hello",end='#')
print("World")

Hello	World

Hello#World

**3.3.2 print() with `sep=' '` attribute:**
- By default output values are separated by space, we can specify separator by using `sep=' ' ` attribute

In [21]:
a, b, c = 10, 20, 30
print(a,b,c)
print(a,b,c,sep=',')
print(a,b,c,sep=':')

10 20 30
10,20,30
10:20:30

#### 3.4 print(object) statement:
- We can pass any object (like list, tuple, set, etc) as argument to the print() statement.

In [22]:
my_list = [10,20,30,40]
my_tuple = (10,20,30,40)
print(my_list)
print(my_tuple)

[10, 20, 30, 40]
(10, 20, 30, 40)

#### 3.5 print(String, variable list):
- We can use print() statement with string and any number of variables.

In [23]:
name = "Karla"
marks = 78
total = 100
print("Hi",name,"you have got",marks,"marks outoff",total,"in Python")

Hi Karla you have got 78 marks outoff 100 in Python

### 4. Formatting the Strings - Print Formatting
- We can format the output strings with variable values by using various methods.
- The main objective of Print Formatting method is to format string in meaningful output form.

#### 4.1 Formating with placeholders
- You can use `%s` to inject strings into your print statements.
- The modulo `%` is referred to as a **string formatting operator**

In [26]:
print("I'm going to place %s here" %"something")

I'm going to place something here

- You can pass multiple items by placing them inside a tuple after the `%` operator.

In [27]:
print("I'm going to place %s text here and %s text here" %('some','some more'))

I'm going to place some text here and some more text here

- We can also pass variable names

In [29]:
x,y = 'some', 'some more'
print("I'm going to place %s text here and %s text here" %(x,y))

I'm going to place some text here and some more text here

**Format conversion methods.**
- Note that `%r` deliver the **string representation** of the object, including quotation marks and any space characters

In [30]:
print('He said his name was %s'%'fred')
print('He said his name was %r'%'fred')

He said his name was fred
He said his name was 'fred'

- As another example, `\t` inserts a tab into a string.

In [31]:
print("I once caught a fish this \t big")

I once caught a fish this 	 big

- The `%s` operator converts whatever it sees into a string, including integers and floats.
- The `%d` operator converts numbers to integers first, without rounding. Note the difference below:

In [32]:
print('I wrote %s programs today.'%3.7546)
print('I wrote %d programs today.'%3.7546)
print('I wrote %.2f programs today.'%3.7546)

I wrote 3.7546 programs today.
I wrote 3 programs today.
I wrote 3.75 programs today.

**4.1.2 Padding and Precision of Floating Point Numbers**
- Floating point numbers format example: `%5.2f`.
- Here, 5 would be the `minimum` number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits.
- Next to this, `.2f` stands for how many numbers to show past the decimal point. Let's see some examples:

In [34]:
print('Floating point numbers: %5.2f'%(123.123))

Floating point numbers: 123.12

In [36]:
print('Floating point numbers: %1.0f'%(123.123))

Floating point numbers: 123

In [37]:
print('Floating point numbers: %1.5f'%(123.123))

Floating point numbers: 123.12300

In [38]:
print('Floating point numbers: %.2f'%(123.123))

Floating point numbers: 123.12

In [39]:
print('Floating point numbers: %25.1f'%(123.123))

Floating point numbers:                     123.1

#### 4.1.3 Multiple Formatting
- Nothing prohibits using more than one conversion tool in the same print statement:

In [40]:
print('First: %s, Second: %5.2f, Third: %r' %('hi',3.14,'bye'))

First: hi, Second:  3.14, Third: 'bye'

#### 4.2 Formatting with the `.format()` method

In [41]:
print('This is a string with an {}'.format('print formatting method'))

This is a string with an print formatting method

In [42]:
insertion = 'print formatting method'
print('This is a string with an {}'.format(insertion))

This is a string with an print formatting method

In [43]:
x,y = 'some', 'some more'
print("I'm going to inject {} text here, and {} text here.".format(x,y))

I'm going to inject some text here, and some more text here.

**The `.format()` method has several advantages over the `%s placeholder` method:**

1. Inserted objects can be called by index position:

In [44]:
print('My Introduction: {0} {1} {2} {3}'.format('Hi','there!','I am','Pooja'))

My Introduction: Hi there! I am Pooja

In [45]:
print('My Introduction: {2} {3} {0} {1}'.format('Hi','there!','I am','Pooja'))

My Introduction: I am Pooja Hi there!

#### 4.4 Formatted String Literals (f-strings)
- Introduced in Python 3.6, f-strings offer several benifits over the older .format() string method described above.
- You can bring outside variables immidiately into the string rather than pass them as arguments through .format(var)
- f string is advanced and have several benifits over .format method.

In [46]:
x = 10.55555
name = '\nFred'
print("He said his name is",name)
print("He said his name is",round(x,2))
print(f"He said his n ame is {name}")

He said his name is
Fred
He said his name is 10.56
He said his name is
Fred

**Pass `!r` to get the string representation:**

In [47]:
print(f"He said his name is {name!r}")

He said his name is '\nFred'

In [48]:
num = 25453.454
print(f"My 15 character, four decimal number is:{num:.4f}")
print(f"My 10 character, two decimal number is:{num:.2f}")

My 15 character, four decimal number is:25453.4540
My 10 character, two decimal number is:25453.45

In [49]:
num = 2545315236.2555
print(f"My 15 character, four decimal number is:{num:012.0f}")
print(f"My 10 character, two decimal number is:{num:12.2f}")

My 15 character, four decimal number is:002545315236
My 10 character, two decimal number is:2545315236.26

In [50]:
x, y = 'some','some more'
print(f"I'm going to inject {x} text here, and {y} text here.")

I'm going to inject some text here, and some more text here.

In [51]:
x, y = 'so\tme', 'some more'
print(r"I'm going to inject {x} text here, and {y} text here.")

I'm going to inject {x} text here, and {y} text here.

In [52]:
print(r"C:\Program Files\nitro")

C:\Program Files\nitro

That is the basics of string formatting!

### 5. Escape Characters in Python
- The programmers refer to the **backslash()** character as an escape character.
- To insert characters that are illigal in a string, use an escape character.
- As the name suggests, the escape character escapes the characters in a string for a brief moment to introduce unique inclusion.
- If we are using string in single quotes and we have to mention single quotes in it, then we can't do that without escape characters.
- It will not print slash but it will print the element after it like single, double quotes, etc.

**The following are various important escape characters in Python**
1. \' --> Single quote
2. \" --> Double quote
3. \n --> New Line
4. \t --> Horizontal tab
5. \b --> Back space
6. \\ --> Back slash symbol

**Let's see what escape characters are and how to use them in Python.**

In [55]:
# Ex:1 (\' or \" ---> This represents a single or double quote in string)
string1 = 'I\'m enjoying \'data science\' course'
print(string1)
string2 = 'I\'m enjoying "data science" course'
print(string2)

I'm enjoying 'data science' course
I'm enjoying "data science" course

In [56]:
# Ex:2 (\n ---> This represents new line)
# If we are not using \n then we have to store it in separate variable

string = "Hello\nWorld"
print(string)

Hello
World

In [57]:
# Ex:3 (\t ---> This represents a tab)
print("I'm enjoying\t 'Data Science'\t that includes\t 'python'\t and\t 
      'machine learning'")

I'm enjoying	 'Data Science'	 that includes	 'python'	 and	 'machine learning'

In [58]:
# Ex:4 (\b ---> This represents a backspace)
string = "Hi theree\b\b, here \\b just deleted the extra e in theree"
print(string)

Hi theree, here \b just deleted the extra e in theree

In [59]:
# Ex:5 (\\ ---> This represents a backslash(\))
string = "Velocity = Distance \\ Time"
print(string)

Velocity = Distance \ Time